* {
    margin: 0%;
}

#logo {
    margin-top: 3%;
    margin-left: 7%;
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
}

.all-links {
    display: flex;
    margin-top: 7%;
    margin-left: 3%;
    width: 50%;
    justify-content: space-around;
}
.all-links a {
    text-decoration: none;
    color: black;
}
.all-links a:hover {
    color: orange;
}
.blog-sub-links {
    display: none;
}

.blog-dropdown:hover {
    color: orange;
    display: block;
}

.book-table {
    background-color: black;
    color: orange;
    border-radius: 25px;
    margin-top: 6%;
    margin-left: 8%;
    width: 10%;
    padding: 1%;
    height: 1.1em;
    font-weight: bold;
    text-align: center;
}

.book-table:hover {
    background-color: orange;
    color: white;
}

.intro-hilight {
    color: orange;
    font-family: 'Ma Shan Zheng', cursive;
    padding-top: 20%;
    font-size: 200%;
    padding-left: 10%;
}

.hilight-text {
    font-size: 290%;
    padding-top: 3%;
    padding-left: 10%;
    width: 45%;
}
.hilight-subtext {
    font-size: 1em;
}

.hilight-subtext {
    font-size: 120%;
    width: 45%;
    padding-left: 10%;
    padding-top: 3%;
}

.second-sec-links {
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
    width: 40%;
    justify-content: space-between;
}

.reservation {
    font-size: 18px;
    width: 35%;
    padding: 2%;
    color: orange;
    border: 1px solid black;
    
    text-align: center;
    background-color: transparent;
}
.watch-our-story {
    font-size: 16px;
    width: 35%;
    padding: 2%;
    color: orange;
    border: 1px solid black;
    
    background-color: transparent;
}
.fa-long-arrow-right {
    padding: 0% 8%;
    border-radius: 50%;
    border-color: orange;
    color: orange;
}

.fa-play {
    padding: 0% 8%;
    color: orange;
}

.reservation:hover {
    color: white;
    background-color: black;
}
.watch-our-story:hover {
    color: white;
    background-color: black;
}